<footer class="footer">
    <div class="container">

        <div class="comparison">
            <div class="comparison__title">Таблиця порівняння</div>
            <div class="comparison__inner">

                <div class="comparison-item">
                    <div class="comparison-item__img">
                        <img src="images/comparison-product-1.png" alt="">
                    </div>
                    <div class="comparison-item__title">Fine Dream Summer</div>

                    <ul class="comparison-characteristics">
                        <li class="comparison-characteristics__item">
                            <div class="comparison-characteristics__title">Розмір</div>
                            <div class="comparison-characteristics__value">
                                140х205 / 155х205 /
                                170х210 / 200х220 см
                            </div>
                        </li>

                        <li class="comparison-characteristics__item">
                            <div class="comparison-characteristics__title">Тканина чохла</div>
                            <div class="comparison-characteristics__value">
                                Мікрофібра
                            </div>
                        </li>

                        <li class="comparison-characteristics__item">
                            <div class="comparison-characteristics__title">Наповнення</div>
                            <div class="comparison-characteristics__value">
                                Хлопкопон
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="comparison-item">
                    <div class="comparison-item__img">
                        <img src="images/comparison-product-2.png" alt="">
                    </div>
                    <div class="comparison-item__title">Fine Ortick Spring</div>

                    <ul class="comparison-characteristics">
                        <li class="comparison-characteristics__item">
                            <div class="comparison-characteristics__title">Розмір</div>
                            <div class="comparison-characteristics__value">
                                140х205 / 155х205 /
                                170х210 / 200х220 см
                            </div>
                        </li>

                        <li class="comparison-characteristics__item">
                            <div class="comparison-characteristics__title">Тканина чохла</div>
                            <div class="comparison-characteristics__value">
                                Поліестер
                            </div>
                        </li>

                        <li class="comparison-characteristics__item">
                            <div class="comparison-characteristics__title">Наповнення</div>
                            <div class="comparison-characteristics__value">
                                Хлопкопон
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

        <div class="footer__title">
            Здоровий сон починається з
            <span>Smart</span>
        </div>
    </div>
</footer>