<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="/" class="header__logo">
                <img src="images/logo.png" width="185" height="184" alt="">
            </a>
            <h1 class="header__title">
                <span>Ковдра</span>
                Fine Dream Summer
            </h1>

            <div class="header__product-img">
                <picture>
                    <source srcset="images/header-product-desktop.png" media="(min-width: 1280px)">
                    <source srcset="images/header-product-tablet.png" media="(min-width: 768px)">
                    <img src="images/header-product-mobile.png" alt="">
                </picture>
            </div>

            <ul class="header-list">
                <li class="header-list__item">
                    <div class="header-list__title">Наповнювач:</div>

                    <div class="header-list__text">
                        антиалергійне 100%<br>
                        силіконізоване волокно
                    </div>
                </li>
                <li class="header-list__item">
                    <div class="header-list__title">Тканина чохла:</div>

                    <div class="header-list__text">
                        Мікрофібра
                    </div>
                </li>
                <li class="header-list__item header-list__item-img header-list__item-img-check">
                    <div class="header-list__img">
                        <img src="images/check.png" alt="">
                    </div>
                    <div class="header-list__text">
                        Висока якість
                    </div>
                </li>
                <li class="header-list__item header-list__item-img header-list__item-img-hypoallergenic">
                    <div class="header-list__img">
                        <img src="images/hypoallergenic.png" alt="">
                    </div>
                    <div class="header-list__text">
                        Гіпоалергенна
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>