// breakpoint

$sx: 320px;
$sm: 375px;
$mobile: 767px;
$tv: 768px;
$th: 992px;
$device: 1199px;
$ds: 1200px;
$dm: 1700px;
$dl: 1900px;


$font-family: "Russo One", sans-serif;
$font-size: 19px;
$line-height: 1.4;
$font-weight: 500;

// colors
$white: #fff;
$black: #1d1d1b;
$orange: #e27601;

// bg
$bg-color: #333087;
